## exe files:
*.exe

## pdf files:
*.pdf

## Image files:
*.png
*.jpg
*.JPG

## PowerPoint files:
*.ppt
*.pptx

## GNU Octave workspaces:
**/octave-workspace

## directory “Daten” and its subdirectories:
Daten/

## directory “RETC“ and its subdirectories:
RETC/